body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;

}

header{

    border: 3px solid black;

}

header nav h1{

    color: black;
    text-shadow: 0px 0px 5px white;

}

header nav a{

    color: white;
    box-shadow: 0px 0px 5px red;
    text-shadow: 0px 0px 5px red;

    border: 3px solid white;
    border-radius: 10px;

    text-decoration: none;

}

header nav a:hover{

    color: red;
    box-shadow: 0px 0px 5px orangered;
    text-shadow: 0px 0px 5px orangered;

    border: 3px solid red;

    transition: 1s;

}

.Imagem_01{

    height: 60Vh;

    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;

}

.fundo_bloco_1{

    background-color: lightgray;

    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

.Imagem_02{

    height: 25Vh;

}

.text-justify{

    text-align: justify;

}

.Imagem_03{

    height: 10Vh;

}

.Imagem_04{

    height: 40Vh;

}

.fundo_bloco_2{

    background-color: lightgray;

    border: 3px solid black;
}

footer{

    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;

}
