body{

    background-image: url("../img/Fundo_4.jpg");
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    border: 5px solid white;

}

.menu_fundo{

    background-color: black;

}

a{

    text-decoration: none;
    color: white;

    border: 3px solid white;
    border-radius: 10px;

}

.b1_esp:hover{

    color: red;
    border: 3px solid red;
    box-shadow: 0px 0px 15px red;
}

.b2_esp:hover{

    color: blue;
    border: 3px solid blue;
    box-shadow: 0px 0px 15px blue;
}

.b3_esp:hover{

    color: yellow;
    border: 3px solid yellow;
    box-shadow: 0px 0px 15px yellow;
}

.b4_esp:hover{

    color: green;
    border: 3px solid green;
    box-shadow: 0px 0px 15px green;
}

.ver{

    background-color: cornflowerblue;
    border: 1px solid blue;

}